{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "uid": $util.dynamodb.toDynamoDBJson($ctx.args.input.uid),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
  "condition": {
    "expression": "attribute_not_exists(#uid)",
    "expressionNames": {
      "#uid": "uid",
    },
  },
}